@font-face {
  font-family: 'nxst';
  src:
    url('fonts/nxst.ttf?hi9mg6') format('truetype'),
    url('fonts/nxst.woff?hi9mg6') format('woff'),
    url('fonts/nxst.svg?hi9mg6#nxst') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="nxst-"], [class*=" nxst-"], [class*="WARN"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nxst' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nxst-alarm:before {
  content: "\e900";
}
